.rows_slider{
        width: -webkit-fill-available;
        display: flex;
    }
    #daftar{
        background-color: #ffffff6e;
    }
    .daftar{
        position: absolute;
        height: fit-content;
        margin-top: 10%;
        margin-left: 10%;
    }
    #login{
        width: 75%;
        display: none;
        margin-top: inherit;
    }
    #daftar{
        display: none;
       margin-top: inherit;
       max-height: 80vh; /* Tinggi maksimum, sesuaikan dengan kebutuhan */
        overflow-y: auto;
    }
.logo{
    width: 20%;
    height: 20%;
    margin-top: 10px;
    margin-left: 30%;
}
.banner{
        color: white;padding: 20px;
        border-radius: 10px;
        margin-top:25%; 
        background-color: #00000080;
}

.banner h1{
        font-size:40px;
}
#kontak{
    background-color: black;
    color: white;
    padding: 10px;
    margin-left: 10px;
    border-style: dashed;
    width: 100%;
    margin-bottom:20px;
}
footer{
    background-color: #a29898;
    width: 100%;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    height:40px;
}
#layanan {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

#layanan h2 {
    color: #333;
}

#layanan ul {
    list-style: none;
    padding: 0;
}

#layanan li {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

.layanan-nama {
    color: #666;
}

.layanan-harga {
    color: #009688;
    font-weight: bold;
}

.gratis-antar-jemput {
    font-size: 2em;
    color: #009688;
    font-weight: bold;
}

.wilayah {
    font-size: 0.6em;
    color: #666;
    margin-top: -30px;
}

#syarat-ketentuan {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
    padding-bottom: 30px;
}

#syarat-ketentuan h2 {
    color: #333;
}

#syarat-ketentuan ul {
    list-style: none;
    padding: 0;
}

#syarat-ketentuan li {
    margin-bottom: 10px;
    color: #666;
}

#syarat-ketentuan li::before {
    content: "\2022"; /* Unicode karakter untuk bullet point */
    color: #009688;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

#syarat-ketentuan li:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 390.5px) {
        .logo{
            width: 60%;
            height: 60%;
            margin-top: -20px;
            margin-left: -5%;
        }
        .banner{
            color: white;
            padding: 10px;
            border-radius: 10px;
            margin-top: 0;
            background-color: #00000080;
            width: fit-content;
        }
        .banner h1{
                font-size:20px;
        }
}
